<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.guang19.mapper.PersonMapper">
    <cache/>
    <resultMap id="personMap" type="com.github.guang19.entity.Person">
        <id column="p_id" property="pId" javaType="java.lang.Long"/>
        <result column="p_name" property="pName" javaType="java.lang.String"/>
        <result column="age" property="age" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="selectPersonById" resultMap="personMap" parameterType="java.lang.Long">
        select p_id , p_name , age FROM person WHERE p_id = #{pId}
    </select>
</mapper>
